/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 0px;
  padding-bottom: 20px;
  background-image: url('../img/dark_brick_wall.png');

}

#stage{
	min-height: 640px;
}


.smtop{
	height: 100px;
	background-color: black;
}

.logo{
	color: white;
	font-size: 2em;
	margin-top: 24px;
}


.logo a:link { color: #FFF; text-decoration: none; }
.logo a:active {color: #FFF; text-decoration: none;} 
.logo a:visited {color: #FFF; text-decoration: none;} 
.logo a:hover {color: #FFF; text-decoration: none; }

.top_mid{
	color: #fff;
	margin-top: 65px; 
}


.top_mid a:link { color: #FFF; text-decoration: underline;margin-left: 12px; margin-right: 12px; }
.top_mid a:active {color: #FFF; text-decoration: underline;margin-left: 12px; margin-right: 12px;} 
.top_mid a:visited {color: #FFF; text-decoration: underline;margin-left: 12px; margin-right: 12px;} 
.top_mid a:hover {color: #FFF; text-decoration: underline;margin-left: 12px; margin-right: 12px; }

.top_rhs{
	color: #fff;
	margin-top: 12px;
	text-align: right;
}
.roundbtn{
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	border-top-left-radius: 4px; 
	border-top-right-radius: 4px;
}

#btm_nav
{
	margin-top: 36px;
	margin-bottom: 36px;
	text-align: center;
}

#btm_nav a:link { margin-left: 12px; margin-right: 12px; }
#btm_nav a:active {margin-left: 12px; margin-right: 12px;} 
#btm_nav a:visited {margin-left: 12px; margin-right: 12px;} 
#btm_nav a:hover {margin-left: 12px; margin-right: 12px; }
